body {

 background-image: url("tausta.jpg");

 
}    

#mySidenav {
	font-size: 18px;
	font-family: "tahoma";
}


#main h1 {
	font-family: "tahoma";
	text-indent: 50px;
	font-size: 35px;

	text-align: left;
	text-align: top;
	
	
    color:white;
    text-shadow: -1.8px 0 black, 0 1.8px black, 1.8px 0 black, 0 -1.8px black;
	
	}
	
#main p {
	font-family: "tahoma" ; 
	color: white;
	text-shadow: -1.8px 0 black, 0 1.8px black, 1.8px 0 black, 0 -1.8px black;
	font-size: 22px;
	text-indent: 50px;
	text-align: justify;
	
	
}

#main h3 {
	font-family: "tahoma" ; 
	font-size: 26px;
	color:white;
	text-indent: 35px;
	text-shadow: -1.8px 0 black, 0 1.8px black, 1.8px 0 black, 0 -1.8px black;
}




#main 	a:link, a:visited {
	
	text-decoration:none;
	color:white;
    text-shadow: -1.8px 0 black, 0 1.8px black, 1.8px 0 black, 0 -1.8px black;

}


#main h4 {
	font-family: "tahoma" ; 
	font-size: 24px;
	color:white;
	text-indent: 22px;
	text-shadow: -1.8px 0 black, 0 1.8px black, 1.8px 0 black, 0 -1.8px black;
	text-align: justify;
	
}

#main ul {
	
	font-family: "tahoma" ; 
	color: white;
	text-shadow: -1.8px 0 black, 0 1.8px black, 1.8px 0 black, 0 -1.8px black;
	font-size: 22px;
	text-indent: 50px;
	text-align: justify;
	
}


